<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT</title>

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

  <section class="bg-secondary text-center d-flex align-items-center p-3"
           style="min-height: 75vh; background: center / cover url('../media/images/about.jpg');">
    <div class="container py-5 rounded bg-dark bg-opacity-75 d-flex flex-column align-items-center gap-3 text-light">
      <h1> О нашей компании </h1>

      <p class="w-50">
        Наша студия уже более 10 лет занимается проектированием и обустройством жилых и
        общественных помещений. За эти годы мы зарекомендовали себя как ответственных и
        компетентных мастеров своего дела, ведь в нашей команде работают дизайнеры и архитекторы
        с богатым опытом, творческим, но в то же время скрупулезным отношением к делу.
      </p>
    </div>
  </section>

</body>
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>