<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COMMENT</title>

  <link rel="stylesheet" href="../styles/main.css">
</head>
<body class="d-flex gap-2 flex-column justify-content-center align-items-center bg-dark bg-opacity-10" style="min-height: 100vh">


<div class="card shadow d-flex flex-column gap-3 p-4">
  <a href="$" class="text-nowrap fs-5 d-flex gap-2 align-items-center text-primary text-decoration-none">
    <div class="rounded-circle flex-shrink-0"
         style="background: center / cover url('../media/images/about.jpg'); width: 2em; height: 2em;"></div>
    Some User Name
  </a>
  <span class="opacity-75">
    A well-known quote, contained in a blockquote element.
    A well-known quote, contained in a blockquote element.
    A well-known quote, contained in a blockquote element.
  </span>
</div>


</body>
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>