<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FOOTER</title>

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

<footer class="footer bg-dark text-light px-3">
    <div class="container pt-4">
        <div class="d-flex gap-2 flex-column flex-lg-row gap-4">
            <div class="d-flex flex-grow-1 align-items-start justify-content-center justify-content-sm-start">
                <a class="navbar-brand d-flex gap-3 align-items-center" href="#">
                    <div class="logo-container rounded-circle bg-light bg-opacity-25 d-flex align-items-center justify-content-center p-2">
                        <svg class="icon" style="stroke: var(--bs-light)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
                        </svg>
                    </div>
                    <p class="m-0 position-relative">
                        SomeCompany
                        <span class="position-absolute opacity-50 m-0 d-none d-sm-block" style="top: 75%; left: 25%">
                              - просто работают професионалы
                        </span>
                    </p>
                </a>
            </div>

            <div class="d-flex flex-grow-1">
                <div class="d-flex flex-grow-1">
                    <ul class="navbar-nav flex-grow-1 d-flex flex-column align-items-center align-items-sm-start align-items-lg-end">
                        <li class="nav-item"><a class="nav-link active" href="#">+7 495 123-45-67</a></li>
                        <li class="nav-item"><a class="nav-link"        href="#">SomeCompany@some.ru</a></li>
                        <li class="nav-item d-flex gap-2">
                            <a class="nav-link" href="#FACEBOOK#">
                                <div class="logo-container rounded-circle bg-light bg-opacity-25 d-flex align-items-center justify-content-center p-2">
                                    <svg class="icon" style="stroke: var(--bs-light)" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 2.1665H12.5C11.395 2.1665 10.3352 2.60549 9.55376 3.38689C8.77236 4.16829 8.33337 5.2281 8.33337 6.33317V8.83317H5.83337V12.1665H8.33337V18.8332H11.6667V12.1665H14.1667L15 8.83317H11.6667V6.33317C11.6667 6.11216 11.7545 5.9002 11.9108 5.74391C12.0671 5.58763 12.279 5.49984 12.5 5.49984H15V2.1665Z"/>
                                    </svg>
                                </div>
                            </a>
                            <a class="nav-link" href="#INSTAGRAM#">
                                <div class="logo-container rounded-circle bg-light bg-opacity-25 d-flex align-items-center justify-content-center p-2">
                                    <svg class="icon" style="stroke: var(--bs-light)" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.1666 2.1665H5.83329C3.53211 2.1665 1.66663 4.03198 1.66663 6.33317V14.6665C1.66663 16.9677 3.53211 18.8332 5.83329 18.8332H14.1666C16.4678 18.8332 18.3333 16.9677 18.3333 14.6665V6.33317C18.3333 4.03198 16.4678 2.1665 14.1666 2.1665Z"/>
                                        <path d="M13.3334 9.97476C13.4362 10.6683 13.3178 11.3766 12.9948 11.9989C12.6719 12.6213 12.161 13.1259 11.5347 13.4412C10.9085 13.7564 10.1987 13.8661 9.50653 13.7547C8.81431 13.6433 8.17484 13.3165 7.67907 12.8207C7.1833 12.325 6.85648 11.6855 6.7451 10.9933C6.63371 10.3011 6.74343 9.59134 7.05865 8.96507C7.37386 8.33881 7.87853 7.82788 8.50086 7.50496C9.12319 7.18205 9.8315 7.06359 10.525 7.16643C11.2325 7.27133 11.8874 7.60098 12.3931 8.10669C12.8988 8.61239 13.2285 9.26733 13.3334 9.97476Z"/>
                                        <path d="M14.5834 5.9165H14.5917" />
                                    </svg>
                                </div>
                            </a>
                            <a class="nav-link" href="#TWITCH#">
                                <div class="logo-container rounded-circle bg-light bg-opacity-25 d-flex align-items-center justify-content-center p-2">
                                    <svg class="icon" style="stroke: var(--bs-light)" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.16667 9.6665V6.33317M13.3333 9.6665V6.33317M17.5 2.1665H2.5V15.4998H6.66667V18.8332L10 15.4998H14.1667L17.5 12.1665V2.1665Z"/>
                                    </svg>
                                </div>
                            </a>
                            <a class="nav-link" href="#TWITTER#">
                                <div class="logo-container rounded-circle bg-light bg-opacity-25 d-flex align-items-center justify-content-center p-2">
                                    <svg class="icon" style="stroke: var(--bs-light)" width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.1667 3.00008C18.3687 3.56298 17.4851 3.9935 16.55 4.27508C16.0482 3.698 15.3812 3.28899 14.6392 3.10335C13.8973 2.91771 13.1163 2.96441 12.4018 3.23712C11.6873 3.50984 11.0737 3.99541 10.6442 4.62818C10.2146 5.26094 9.98979 6.01036 10 6.77508V7.60841C8.53557 7.64639 7.08444 7.32159 5.77588 6.66295C4.46733 6.00431 3.34197 5.03228 2.50004 3.83341C2.50004 3.83341 -0.833293 11.3334 6.66671 14.6667C4.95048 15.8317 2.906 16.4159 0.833374 16.3334C8.33337 20.5001 17.5 16.3334 17.5 6.75008C17.4993 6.51796 17.477 6.28641 17.4334 6.05841C18.2839 5.21966 18.8841 4.16067 19.1667 3.00008V3.00008Z"/>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright py-2">
            <p class="opacity-50 m-0 text-center text-sm-start">
                © 2007 - 2022 SomeCompany. Все права защищены.
            </p>
        </div>
    </div>
</footer>

</body>
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>