<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FORM</title>

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

  <section class="free-sizing px-3">
    <div class="container d-flex flex-column align-items-center gap-4 py-4">

        <div class="title d-flex flex-column align-items-center text-center">
            <h1> <span class="text-primary">Бесплатный</span> замер </h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consectetur, cupiditate fugiat hic ipsum laborum modi mollitia neque placeat quibusdam reiciendis sed, sequi similique ut?</p>
        </div>

        <form class="d-flex gap-2 w-75" role="search">
            <input  class="form-control rounded-1 w-25 px-3 py-2" type="text"  placeholder="Ваше Имя" aria-label="Your Name">
            <input  class="form-control rounded-1 w-25 px-3 py-2" type="tel"   placeholder="+7 (000) 000-0000" aria-label="Your Phone">
            <input  class="form-control rounded-1 w-25 px-3 py-2" type="email" placeholder="E-mail" aria-label="Your E-mail">
            <button class="btn btn-secondary rounded-1 w-25 px-3 py-2 text-light" type="submit">Search</button>
        </form>

    </div>
  </section>

</body>
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>