<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HEADER</title>

    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <header class="px-3">
        <nav class="navbar sticky-top">
            <div class="container">
                <a class="navbar-brand d-flex gap-3 align-items-center" href="#">
                    <span class="logo-container rounded-circle bg-secondary d-flex align-items-center justify-content-center p-2">
                        <svg class="icon" style="stroke: var(--bs-light)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
                        </svg>
                    </span>
                    SomeCompany
                </a>

                <button class="navbar-toggler border-0"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#header__menu"
                        aria-controls="header__menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <svg class="icon"
                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="header__menu">
                    <ul class="navbar-nav d-flex flex-column align-items-end">
                        <li class="nav-item w-25 text-end">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item w-25 text-end">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</body>
<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>