@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$theme-colors: (
        "primary":    #2D8B7B,
        "secondary":  #E05553,

        "light":      #FFFFFF,
        "dark":       #051C2B,

        "info":       #2D8B7B,
        "success":    #2D8B7B,
        //"warning":    $warning,
        "danger":     #E05553,
);

$font-family-sans-serif: Roboto, Arial, sans-serif;
$font-family-serif:      Roboto, Arial, sans-serif;
$font-family-monospace:  Roboto, Arial, sans-serif;
$font-family-base:       Roboto, Arial, sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";